.xui-carousel-indicator {
  display: flex;
  position: relative;
  bottom: 12px;
  justify-content: center;
  width: 100%;

  .xui-carousel-indicator-item {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 8px;
    background: var(--xui-icon-fill, #d3d5d9);

    &.active {
      width: 24px;
      background: var(--xui-list-item-active-bg, #5e7ce0);
      transition: all var(--xui-animation-duration-slow, .3s) var(--xui-animation-ease-in-smooth, cubic-bezier(.645, .045, .355, 1));
    }
  }
}
