.xui-carousel {
  position: relative;
  overflow: hidden;

  .xui-carousel-indicator {
    position: absolute;
  }
}

.xui-carousel-item-container {
  display: flex;
  position: relative;
  transition: left 500ms ease 0s; // 内容切换时的动效

  & > * {
    flex: 1;
  }
}

.xui-arrow {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: var(--xui-highlight-overlay, rgba(255, 255, 255, .8));
  box-shadow: var(--xui-shadow-length-hover, 0 4px 16px 0) var(--xui-light-shadow, rgba(0, 0, 0, .1));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--xui-animation-duration-slow, .3s) var(--xui-animation-ease-in-out-smooth, cubic-bezier(.645, .045, .355, 1));

  &:hover {
    background: var(--xui-area, #f8f8f8);
  }
}
